<footer class="footer">
  <small>
    <a href="#">Time Tracking SAAS</a>
    by Tarik Filali Ansary
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://github.com/Sindibade/TimelessTracker">News</a></li>
    </ul>
  </nav>
</footer>